---
layout: layouts/home.njk
tags:
- nav
navtitle: Work
---

<style>
.index-page a {
  color: var(--primary-color);
  font-weight: 700;
  background-color: yellow;
}
</style>

<h1>I 💜 Product Design</h1>
{# <p>&nbsp;</p> #}
<p class="bigger">Welcome, and thanks for visiting! I’m a digital product designer currently working on API lifecycle and content collaboration products at Axway. Before that I lead UX/UI Design at Accellion, and at FastPencil. I strive for simplicity, clarity, and the shortest path-to-value possible. See more about me <a href="/about">here</a>.</p>

<br><br>


<div class="grid">

  <a class="module" href="file-sharing">
    <div>
      <img src="/img/files2.jpg">
      <br>
      <p>File Sharing app</strong></p>
    </div>
  </a>

  <a class="module" href="publishing-platform-design">
      <div>
        <img src="/img/fp-home2.jpg">
        <br>
        <p>Self publishing platform</strong></p>
      </div>
    </a>

<a class="module" href="mobile-design">
      <div>
        <img src="/img/mobile-design.png">
        <br>
        <p>Syncplicity mobile design</strong></p>
      </div>
    </a>


<br>

  <!-- <a href="usabilitytesting">
    <div class="module">
      <img src="/img/usertest1.png">
      <br>
      <p>Usability Testing</p>
    </div>
  </a> -->

  <!-- <div class="module">4</div>
  <div class="module">5</div>
  <div class="module">6</div>
  <div class="module">7</div>
  <div class="module">8</div>
  <div class="module">9</div>
  <div class="module">10</div>
  <div class="module">11</div>
  <div class="module">12</div>
  <div class="module">13</div>
  <div class="module">14</div>
  <div class="module">15</div> -->
</div>
<p>CONNECT WITH ME</p>

<p><span class="jam jam-envelope"></span>&nbsp;<a href="mailto: mattosurf@gmail.com">mattosurf@gmail.com</a></p>

<span class="jam jam-linkedin"></span>&nbsp;<a href="https://www.linkedin.com/in/olearystudios">/in/olearystudios</a></p>

<span class="jam jam-twitter"></span>&nbsp;<a href="https://twitter.com/mattosurf">@mattosurf</a></p>

<!-- <h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> -->
