---
layout: layouts/home.njk
tags:
- nav
navtitle: Work
---

<p>Thanks for visiting! I’m a user experience and interaction designer currently working on content collaboration products at Axway. Before that I lead UX/UI Design at Accellion, and at FastPencil.</p>

<br><br>


<div class="grid">

  <a href="securemail">
    <div class="module">
      <img src="/img/files2.png">
      <br>
      <p>Accellion — File Sharing app</p>
    </div>
  </a>

  <a href="publishing">
      <div class="module">
        <img src="/img/fp-home2.jpg">
        <br>
        <p>FastPencil — Self publishing platform</p>
      </div>
    </a>

  <!-- <a href="usabilitytesting">
    <div class="module">
      <img src="/img/usertest1.png">
      <br>
      <p>Usability Testing</p>
    </div>
  </a> -->

  <!-- <div class="module">4</div>
  <div class="module">5</div>
  <div class="module">6</div>
  <div class="module">7</div>
  <div class="module">8</div>
  <div class="module">9</div>
  <div class="module">10</div>
  <div class="module">11</div>
  <div class="module">12</div>
  <div class="module">13</div>
  <div class="module">14</div>
  <div class="module">15</div> -->
</div>


<!-- <h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> -->
